.card {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-category {
    color: #555;
    margin-bottom: 10px;
  }
  
  .card-description {
    color: #777;
    margin-bottom: 15px;
  }
  
  .card-price {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .card-rating {
    color: #ffac2f;
    font-weight: bold;
  }

  .details-btn {
    margin-left: 30px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 15px;
    padding: 10px;
    font-size: 1.3rem;
  }